﻿ #cy {
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
 }

 .graph-menu {
     position: absolute;
     bottom: 0;
     right: 0;
 }

 .loader-overlay {
     position: absolute;
     background-color: rgba(0, 0, 0, 0.75);
     width: 100vw;
     height: 100vh;
     z-index: 10;
     display: none;
 }

 .loader-wrapper {
     margin: 0 auto;
     margin-top: 40vh;
     display: table;
 }

 .loader-message { 
     font-size: 4.5vh;
     color: #189473;
 }

 .loader {
     margin: 0 auto;
     border: 16px solid #f3f3f3;
     border-top: 16px solid #189473;
     -ms-border-radius: 50%;
     border-radius: 50%;
     width: 10vh;
     height: 10vh;
     -webkit-animation: spin 2s linear infinite;
     -moz-animation: spin 2s linear infinite;
     -ms-animation: spin 2s linear infinite;
     -o-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

 @keyframes spin {
     0% { transform: rotate(0deg); }

     100% { transform: rotate(360deg); }
 }